@using NotelyCore.Domain
@model Note


<div class="card">
    <div class="card-header container-fluid header-@Model.Priority">
        <div class="row">
            <div class="col-sm-9">
                <h3>@Model.Subject</h3>
                <span>@Model.Priority</span>
                <small>@Model.CreatedOn.ToLocalTime()</small>
            </div>
            <div class="col-sm-3">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-sm"
                       asp-page="./Notely/Edit"
                       asp-route-noteId="@Model.NoteId">
                        <i class="fa fa-edit"></i>
                    </a>
                    <i class="btn btn-primary btn-sm"
                       onclick="deleteNote(this)"
                       data-note-id="@Model.NoteId">
                        <i class="fa fa-trash"></i>
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <pre class="note-body-text">@Model.Body</pre>
    </div>
</div>
